---
import Layout from "../../layouts/Layout.astro";
import CtaLink from "../../components/CtaLink.astro";
---

<Layout>
  <main class="fixed inset-0 flex flex-col gap-2 items-center justify-center z-10 pointer-events-none select-none px-4 text-center text-sm">
    <p class="p-2 bg-dark">Fullstack developer with 3 years of experience, specialized in: <br> Next, React, Typescript, Ruby on Rails and PostgreSQL.</p>
    <p class="p-2 bg-dark">I have experience as IT Project Manager and an accademic background in Neuroscience, <br> means I understand both code and context, building what matters.</p>
    <CtaLink href="/rv-cv.pdf" label="resume.pdf" download />
    <CtaLink href="https://github.com/rennavittorio" label="github" />
  </main>
</Layout>
