---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="fixed inset-0 flex flex-col items-center justify-center z-10 pointer-events-none select-none px-4 text-center">
    <p class="text-xs tracking-[0.4em] uppercase text-[#555] mb-6 p-2 bg-dark">
      developer with <br> neuroscience background
    </p>
    <h1 class="text-5xl sm:text-7xl md:text-9xl font-extralight tracking-tight text-white/90 whitespace-nowrap p-2 bg-dark">
      reindev
    </h1>
  </main>
</Layout>
